# SPDX-License-Identifier: CC0-1.0
# Copyright 2014, Mattias Bengtsson <mattias.jc.bengtsson@gmail.com>

*~
*#*
*.orig
/c++
/cask
/cc
/editorconfig
/g++
/gcc
/gcc-rtags-wrapper.sh
/gocode
/godef
/goflymake
/grunt
/http-server
/install-check
/jake
/jhbuild
/jshint
/my-spotify
/rc
/rdm
/rp
/yEd
/cc_prefix.sh
/gcc-rtags-hook.sh
/go-assets-builder
/rplol
/rtags-gcc-prefix.sh
/spotify
/tern
/jscs
/npm
/git-hub
/git-lab
/hs
/pt
/livestreamer
/yasel
/git-bb
/git-bucket
/twitch
/git-fpaste
/luacheck
/rust-gdb
/rustc
/rustdoc
/docopt-completion
/racer
/node-debug
/node-inspector
/vs-sln-extract
/magit
/easy_install*
/eslint
/eslint-auto-config
/TAGS
/analyze-build
/analyze-c++
/analyze-cc
/git-ls
/gnome-twitch
/intercept-build
/intercept-c++
/intercept-cc
/pip
/pip2
/pip2.7
/scan-build
/git-wip
/cargo-fmt
/git-each
/rustfmt
/bear
/pip3
/pip3.5
/qr
/rg
/autopep8
/flake8
/ipdb
/iptest
/iptest2
/ipython
/ipython2
/pep8
/pycodestyle
/pyflakes
/pygmentize
/wheel
/iptest3
/ipython3
/trepanjs
/pyls
/pasteurize
/lua2json
/json2lua
/isort
/ipdb3
/futurize
/git-local
/ion
/fd
/gitlab
/pybitbucket_cli
/debug-usage
/spotify-2x
/chardetect
/javascript-typescript-langserver
/javascript-typescript-stdio
/calc-prorate
/cherryd
/f2py
/git-utils.py
/exa
/tokei
/jpterm
/keyring
/vaultify
/ansible
/ansible-config
/ansible-connection
/ansible-console
/ansible-doc
/ansible-galaxy
/ansible-inventory
/ansible-local
/ansible-mkpasswd
/ansible-playbook
/ansible-pull
/ansible-vault
/ansible-vault-helper
/cquery
/tabulate
/ndg_httpclient
/bst
/bst-artifact-receive
/yasha
/j2
/lpass
/jp
/SlayTheSpire
/bash-language-server
/virtualenv-clone
/bottle.py
/check-repositories
/conan
/conan_build_info
/conan_server
/distro
/epylint
/mako-render
/pyjwt
/pylint
/pyreverse
/symilar
/tqdm
/rst2html.py
/rst2html4.py
/rst2html5.py
/rst2latex.py
/rst2man.py
/rst2odt.py
/rst2odt_prepstyles.py
/rst2pseudoxml.py
/rst2s5.py
/rst2xetex.py
/rst2xml.py
/rstpep2html.py
/sphinx-apidoc
/sphinx-autogen
/sphinx-build
/sphinx-quickstart
/yaml2yaml
/yaml2toml
/toml2yaml
/toml2toml
/toml2json
/remarshal
/json2toml
/json2json
/bst-artifact-server
/json2yaml
/yaml2json
/virtualenv
/pipenv-resolver
/pipenv
/podman-compose
/dmypy
/mypy
/mypyc
/stubgen
/black
/black-primer
/blackd
/cbor2cbor
/cbor2json
/cbor2msgpack
/cbor2toml
/cbor2yaml
/git-bug
/json2cbor
/json2msgpack
/msgpack2cbor
/msgpack2json
/msgpack2msgpack
/msgpack2toml
/msgpack2yaml
/stubtest
/toml2cbor
/toml2msgpack
/yaml2cbor
/yaml2msgpack
/cmark
/pypprint
/rubocop
/ruby-parse
/ruby-rewrite
/pyroute2-cli
/ss2
/viu
/jiq
/isort-identify-imports
/kubectl
/boltbrowser
/nodeenv
/pyright
/pyright-python
/pyright-python-langserver
/pyright-langserver
/pip3.10
ansi2html
/htmldiff
/kramdown
/ldiff
/reverse_markdown
/solargraph
/thor
/tilt
/yard
/yardoc
/yri
/ansible-language-server
/dockpin
/argo
/gp-saml-gui
/jqp
/ipython3.10
/lego
/lego-4.9.1
/dasel
/resume
/poetry
