*~
*#*
*.orig
/c++
/cask
/cc
/editorconfig
/g++
/gcc
/gcc-rtags-wrapper.sh
/gocode
/godef
/goflymake
/grunt
/http-server
/install-check
/jake
/jhbuild
/jshint
/my-spotify
/rc
/rdm
/rp
/yEd
/cc_prefix.sh
/gcc-rtags-hook.sh
/go-assets-builder
/rplol
/rtags-gcc-prefix.sh
/spotify
/tern
/jscs
/npm
/git-hub
/git-lab
/hs
/pt
/livestreamer
/yasel
/git-bb
/git-bucket
/twitch
/git-fpaste
/luacheck
/rust-gdb
/rustc
/rustdoc
/docopt-completion
/racer
/node-debug
/node-inspector
/vs-sln-extract
/magit
/easy_install*
/eslint
/eslint-auto-config
/TAGS
/analyze-build
/analyze-c++
/analyze-cc
/git-ls
/gnome-twitch
/intercept-build
/intercept-c++
/intercept-cc
/pip
/pip2
/pip2.7
/scan-build
/git-wip
/cargo-fmt
/git-each
/rustfmt
/bear
/pip3
/pip3.5
/qr
/rg
/autopep8
/flake8
/ipdb
/iptest
/iptest2
/ipython
/ipython2
/pep8
/pycodestyle
/pyflakes
/pygmentize
/wheel
/iptest3
/ipython3
/trepanjs
/pyls
/pasteurize
/lua2json
/json2lua
/isort
/ipdb3
/futurize
/git-local
/ion
/fd
/gitlab
/pybitbucket_cli
/debug-usage
/spotify-2x
/chardetect
/javascript-typescript-langserver
/javascript-typescript-stdio
/calc-prorate
/cherryd
/f2py
/git-utils.py
/exa
/tokei
/jpterm
/keyring
/vaultify
/ansible
/ansible-config
/ansible-connection
/ansible-console
/ansible-doc
/ansible-galaxy
/ansible-inventory
/ansible-local
/ansible-mkpasswd
/ansible-playbook
/ansible-pull
/ansible-vault
/ansible-vault-helper
/cquery
/tabulate
/ndg_httpclient
/bst
/bst-artifact-receive
/yasha
/j2
/lpass
