*~
*#*
*.orig
/c++
/cask
/cc
/editorconfig
/g++
/gcc
/gcc-rtags-wrapper.sh
/gocode
/godef
/goflymake
/grunt
/http-server
/install-check
/jake
/jhbuild
/jshint
/my-spotify
/rc
/rdm
/rp
/yEd
/cc_prefix.sh
/gcc-rtags-hook.sh
/go-assets-builder
/rplol
/rtags-gcc-prefix.sh
/spotify
/tern
/jscs
/npm
/git-hub
/git-lab
/hs
/pt
/livestreamer
/yasel
/git-bb
/git-bucket
/twitch
